<launch>
    <arg name="launch_sim_environment" default="0"/>
    <arg name="is_sim" default="0"/>
    <arg name="is_physical" default="1"/>
    <arg name="serial_port" default="/dev/ttyS0"/> <!-- /dev/ttyS0 -->

    <node pkg = "dingo_lcd_interfacing" type = "dingo_lcd_interfacing.py" name = "dingo_LCD_node" output="screen"></node>

    <!-- Joystick Node -->
    <include file="$(find dingo_input_interfacing)/launch/input_interface.launch" />

    <!-- Communication Node between Arduino and Pi -->
    <group if="1">
        <node pkg="rosserial_python" type="serial_node.py"
        name="dingo_rosserial" args="$(arg serial_port)" output="screen"/>
    </group>

    <!-- Gazebo simulator -->
    <group if="$(arg launch_sim_environment)">
        <include file="$(find dingo)/launch/dingo_simulator.launch" />
    </group>
    
    <!-- Dingo Driver -->
    <node pkg="dingo" type="dingo_driver.py"
        name="dingo" args="$(arg is_sim) $(arg is_physical)" output="screen"/>
</launch>
    
