<launch>

    <!-- Empty World -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find dingo_gazebo)/launch/world/normal.world"/>
      <arg name="use_sim_time" value="true"/>
      <!--<arg name="paused" value="true"/>-->
    </include>

    <!-- Robot -->
    <arg name="robot" default="$(find dingo_description)/urdf/dingo.urdf"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg robot)" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf 
    -z 3

    -model dingo_gazebo"/>

    <!--     -J FR_theta2 0.72646626
    -J FL_theta2 0.72646626
    -J RR_theta2 0.72646626
    -J RL_theta2 0.72646626
    -J FR_theta1 0.0
    -J FL_theta1 0.0
    -J RR_theta1 0.0
    -J RL_theta1 0.0
    -J FR_theta3 0.0
    -J FL_theta3 0.0
    -J RR_theta3 0.0
    -J RL_theta3 0.0-->

    <!-- Controllers -->
    <rosparam file="$(find dingo_gazebo)/config/controllers.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" ns="dingo_controller"
          args="FR_theta1 FR_theta2 FR_theta3
                FL_theta1 FL_theta2 FL_theta3
                RR_theta1 RR_theta2 RR_theta3
                RL_theta1 RL_theta2 RL_theta3"/>

    <!-- Robot State Publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher" respawn="false" output="screen">
      <remap from="/joint_states" to="/dingo_gazebo/joint_states" />
      <param name="publish_frequency" type="double" value="10" />
    </node>
  
</launch>
